*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navbar style start  */
.navbar{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: rgb(76, 70, 70);
}
.logo-parent .logo{
    width: 100px;
}
.menu-lists{
    display: flex;
    gap: 62px;
    list-style-type: none;
}
.menu-lists li{
    margin-top: -8px;
}
.menu-lists li a{
    font-size: 19px;
    text-decoration: none;
    color: #ffffff;
}
/* hero section Start style  */
.hero-container{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("../images/background.png"),linear-gradient(45deg,rgb(5, 5, 5), #2e2e2e);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
}
.hero-img-outer .hero-img{
    width: 300px;
}
.hero-text{
    color: #ffffff;
}
.hero-text h1{
    font-size: 54px;
}
.hero-text p{
    font-size: 18px;
    margin: 20px 0;
}
.btn{
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
/* hero and about btn some feature*/
.hero-btn, .about-us-btn{
    background: red;
    color: #ffffff;
    transition: color .3s linear, background-color .3s linear;
}
/* hero and about btn hover effects*/
.hero-btn:hover, .about-us-btn:hover{
    color: red;
    background-color: #ffffff;
    outline: 1px solid red;
}
/* about section Start styling */
.about-img-outer .about-img{
    width: 300px;
}
.about-us-title{
    text-align: center;
    font-size: 54px;
    margin: 40px 0;
}
.about-us-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-text p{
    margin-bottom: 20px;
}
/* Service section Start styling */
.our-service-section{
    background-image: url('../images/background.png'),linear-gradient(45deg,rgb(5, 5, 5), #2e2e2e);
    /* padding-bottom: 20px; */
}
.our-service-container{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.our-service-title{
    text-align: center;
    font-size: 54px;
    padding-top: 50px;
    color: #ffffff;
}
.service-box1, .service-box2, .service-box3{
    width: 250px;
    height: 320px;
    background-color: #0e0e0e;
    padding: 0 15px;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    box-shadow: 4px  2px 10px gray;
}
.service-icon{
    width: 70px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.service-title{
    font-size: 24px;
    padding-bottom: 20px;
}
.service-btn{
    margin-top: 20px;
    background-color: gray;
    font-size: 15px;
    transition: all .2s linear;
}
.service-btn:hover{
    background-color: #ffffff;
    color: gray;
}

/* footer section Start styling */
.footer-section{
    height: 70vh;
    background-image: url("./asset/image/footer-bg.png"),linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.9));
    background-repeat:no-repeat;
    background-blend-mode: overlay;
}
.footer-section-container{
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 70px;
}
.logo-box{
    flex-basis: 20%;
}
.logo-box p{
    color: white;
    line-height: 1.8;
}
.logo-box .logo{
    width: 160px;
}
.logo-box, .useful-links, .supports, .contacts{
    height: 100px;
}
.useful-links h4, .supports h4{
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}
.useful-links li, .supports li{
    list-style-type: none;
    line-height: 1.8;
}
.useful-links li a, .supports li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}
.contacts{
    color: white;
}
.contacts h4{
    margin-bottom: 30px;
    font-size: 20px;
}
/* copyright */
.copyright{
    text-align: center;
    font-size: 16px;
    color: white;
    margin-top: 20px;
}
.hr-line{
    width: 81.5%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}